{% extends 'app/base.html' %}
{% load static%}
{% block title %}
    About
{% endblock title %}

{% block main-content %}
<div class="container mt-3">
    <br>
    <div class="row container">
        <p class="fs-4 text-center">
            Prerna Provions is a Kirana shop at Nagpur. 
            It was founded by Murlidhar Jain in the year 1995. From last 29 years Murlidhar Jain and Nandkishor Jain are running Prerna Provisons.
            we understand the importance of convenience and quality in your everyday life. Whether it's groceries, household items, personal care products, or anything in between, we're here to make sure you have easy access to everything you need to keep your life running smoothly.
           <h2> Our mission</h2>
           <p class="fs-4 text-center">
           Our mission is to provide our customers with a hassle-free shopping experience and top-notch products at affordable prices. With a carefully curated selection of items from trusted brands, we aim to be your reliable partner in meeting your daily needs.

But we're more than just a store — we're a community. Our friendly team is always here to assist you and answer any questions you may have. We value your feedback and strive to continuously improve our services to better serve you.

Whether you're stocking up on essentials for your home, grabbing a quick snack on the go, or searching for that special ingredient for your next culinary masterpiece,Prerna Provisons has you covered.

Thank you for choosing us as your preferred destination for all your daily needs. We look forward to serving you!

            <br>
            <br>

            <h5>Our customer's experience tells everything about us:</h5>
            We are buying products from this shop since a long time. all products are at descent price.
                                -Nagpure
            <br>
            never encountred a faulty product.
                                -sukhe
            <br>
            alomst everything is available here.
                                -burde
            <br>
            best service and customer experience .
                                -kubde
                                
               
        </p>
    </div>
</div>
{% endblock main-content %}
